/*Bilal: put your css in here -- Hen will transfer it*/


.RINASite[type=donor]{
  fill: blue;
  fill-opacity: 1;
  stroke: black;}

.RINASite[type=receptor]  {
  fill: red;
  fill-opacity: 1;
  stroke: black;}

.RNASiteConnector[type=donor] {
  stroke: blue;
fill: none}

.RNASiteConnector[type=receptor] {
  stroke: red;
  fill: none}

.edgeAnchor {
  fill: red;
  fill-opacity: 1;
  stroke: black}

.edgeConnector[type=donor] {
  stroke: blue
}

.edgeConnector[type=receptor] {
  stroke: red
}

