/**
 * Created by Hendrik Strobelt 10/10/14
 */
@import "../bower_components/font-awesome/css/font-awesome.min.css";

.fa-spin-custom, .glyphicon-spin {
  -webkit-animation: spin 5000ms infinite linear;
  animation: spin 5000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

// Wes Anderson Color Palette from http://wesandersonpalettes.tumblr.com/ - Fantastic Mr. Fox
$wes-gray: #B9B09F;
$wes-yellow: #E8C95D;
$wes-green: #A9D8C8;
$wes-violet: #433447;
$wes-red: #D16B54;
$wes-blue: #0093dd;

text.decoration {
  font-family: "FontAwesome", serif;
  font-size: 12px;
  fill: $wes-gray;
  fill-opacity: .6;
  cursor: pointer;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;

}

text.decoration:hover {
  fill-opacity: 1;
  fill: $wes-violet;
}

text.decoration.selected {
  fill-opacity: 1;
  fill: $wes-blue;
}

//by convention create a namespace for your own plugin
.gv {
  //  textarea{
  //    /*width: 600px;*/
  //    /*min-width:200px;*/
  //    /*max-width:200px;*/
  //
  //    height:200px;
  //    min-height:200px;
  //    max-height:200px;
  //  }
  .axis text, .axisLabel {
    font: 10px sans-serif;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .seqText {
    font: 10px sans-serif;
  }
  .seqBox {
    opacity: .5;
  }

  .boxplot, .subboxplot {
    stroke-width: 1px;
    stroke: $wes-violet;
    //stroke-opacity: 1;
    pointer-events: none;

    .wticks {
      stroke-dasharray: 3, 3;
    }

  }

  .crosshairValue, .crosshairGroupValue {
    fill: $wes-violet;
    pointer-events: none;
  }
  .crosshairValue.bg, .crosshairGroupValue.bg {
    fill: white;
    stroke: white;
    stroke-width: 5px;
  }
}

.highlight, .highlights {
  .jxn {
    fill: $wes-blue;
    //stroke-width: 1px;
    //stroke:$wes-blue;
    fill-opacity: .7;

  }
}

.isoform {
  .exon {
    fill-opacity: .8;
    pointer-events: none;
    fill: $wes-violet;
  }
  .background {

    fill: white;
    fill-opacity: .001;

  }

  .selected {
    stroke: $wes-yellow;
  }
  .fixed {
    fill: $wes-yellow;
    fill-opacity: .5;
  }

  .sampleDot {
    fill: $wes-gray;
    fill-opacity: .5;
  }
  .sampleDot.highlighted {
    fill: $wes-red;
    fill-opacity: 1;
  }
  .sampleDot.selected {
    fill-opacity: 1;
    stroke: none;
  }

  .dotightBG {
    pointer-events: none;
  }

  .showGroups {
    font-size: 12pt;
  }
  .showGroups.selected {
    background-color: #000066;
  }

}

.groupSplitView {
  .background {
    fill: none;
    stroke: $wes-gray;
  }
  .tickleftCircle {
    fill: $wes-gray;
    opacity: .3;
    pointer-events: none;
  }
  .sampleDot.highlighted {
    fill: $wes-red;
    fill-opacity: 1;
  }
  .sampleDot.selected {
    fill-opacity: 1;
    stroke: 2;
  }
}

path.selectionParco {
  fill: none;
  stroke: $wes-red;
  stroke-width: 2px;
  stroke-opacity: .5;
}

.buttonSelected {
  background-color: $wes-green !important;
}

.sampleGroup {

  .sampleGraph {
    //fill-opacity: .8;
    pointer-events: none;
    stroke: $wes-gray;
    stroke-width: 1px;
    fill: $wes-gray;
  }

  .groupArea {
    fill-opacity: 1;
    pointer-events: none;
    stroke: none;

    fill: $wes-violet;
  }

  .sampleGroupBG, .sampleGroupLabelBG {
    fill: white;
  }

  .sampleGroupLabelText {
    pointer-events: none;
    font-size: 14px;

  }

}

.sampleGroup.highlighted {
  .sampleGraph {
    //fill-opacity: .8;
    //pointer-events: none;
    stroke: $wes-red;
    fill: $wes-red;
  }

  .groupArea {
    stroke: none;
  }

  .sampleGroupLabelBG {
    fill: $wes-red;
    fill-opacity: .1;
    stroke: $wes-red;
  }

}

.sampleGroup.selected {
  .sampleGroupBG {
    stroke: none;
    fill: $wes-red;
    fill-opacity: .3;
  }
}

.rangeRect {
  fill: $wes-gray;
  fill-opacity: .3;
}

.isoMenu, .guiButtonBG {
  fill: $wes-gray;
  fill-opacity: .3;
  stroke: $wes-gray;
  //stroke-width: 1;

}

.isoMenu.selected, .guiButtonBG:hover {
  fill: $wes-gray;
  fill-opacity: 1;
  stroke: $wes-violet;
  stroke-width: 1;

}

.guiButtonLabel {
  font-size: 14px;
  fill: $wes-violet;
  pointer-events: none;
}

.menuDivideLine {
  stroke: $wes-gray;
  stroke-width: 1px;
}

//.dotMenu{
//  .dotmenuRect{
//    fill: $wes
//  }
//}

.strandIndicator {
  .genomeAxisTicks {
    stroke: black;
    stroke-width: 2px
  }
}

.axis.genomeAxis {
  path {
    stroke: none
  }
  .tick text {
    font-size: 14px
  }
}

.directionToggle {
  fill: none;
  pointer-events: visible;
  stroke: $wes-gray

}

.directionToggle.selected {
  fill: $wes-green
}

// UI fixes:

select.btn-mini {
  height: auto;
  line-height: 25px;
}

input.btn-mini {
  height: auto;
  width: auto;
  //line-height: 6px;
}

// ---- JUNCTION VIEW ----

.jxn_heat_group {
  .exon {
    fill: $wes-violet;
    fill-opacity: .1;
  }

  .background {
    fill: white;
    //    fill-opacity: .3;
  }

}

.jxn_con_upper_group {
  .areaCon {
    fill: $wes-gray;
    opacity: .6;
    stroke: none;
  }
  .areaCon.hiddenCon {
    opacity: 0.1;
  }

  .areaCon.highlighted {
    opacity: 1;
  }

  .lineCon {
    stroke: $wes-violet;
    opacity: .5;
    pointer-events: none;
  }
  .lineCon.hiddenCon {
    opacity: 0.1;
  }

  .lineCon.highlighted {
    opacity: 1;
    stroke-width: 2px;
  }
;

}

.jxn_weight_panel {
  .dots {
    // TODO: make this the same as sampleDot
    fill: $wes-gray;
    fill-opacity: .7;
  }

  .dots.highlighted {
    fill: $wes-red;
    fill-opacity: 1;
  }

  .panelIndicator {
    fill: $wes-violet;
    stroke: none;
    opacity: .5;
    pointer-events: none;

  }

  .sortDivider {
    stroke-width: 1px;
    stroke: $wes-violet;
    stroke-opacity: .3;
    stroke-dasharray: 7, 1;
    pointer-events: none;
  }

  .inIsoformIndicator {
    fill: $wes-yellow; //TODO: get from isoform
    stroke: $wes-violet;
    stroke-opacity: 1;

  }
}

.jxn_con_lower.con {
  stroke: $wes-violet;
  fill: none;
  opacity: .5;
}

.jxn_con_lower.con.highlighted {
  stroke-width: 2px;
  opacity: 1;
}

.jxn_con_triangle.donor {
  fill: $wes-gray;
  opacity: 1;
  stroke: $wes-violet;

}

.jxn_con_triangle.donor.highlighted {
  opacity: 1;
  stroke: $wes-blue;
  stroke-width: 2px;
}

.jxn_con_triangle.receptor {
  fill: white;
  opacity: 1;
  stroke: $wes-violet;
}

.jxn_con_triangle.receptor.highlighted {
  stroke: $wes-blue;
  stroke-width: 2px;
  opacity: 1;
}

.jxn_weight_group {
  .panelBG {
    fill: $wes-gray;
    fill-opacity: .6;
    stroke: none;
  }
  .panelBG.scatter {
    //stroke:1px;
    stroke: $wes-gray;
    fill-opacity: .1;
    //rx:8;
  }
  .panelBG.highlighted {
    fill-opacity: .2;
    stroke: $wes-gray;
    stroke-opacity: .6;
  }

}

.edgeAnchor {
  fill: $wes-violet;
  fill-opacity: 1;
  stroke: none
}

.edgeConnector[type=donor] {
  stroke: $wes-violet
}

.edgeConnector[type=receptor] {
  stroke: $wes-violet
}

path.stdDev {
  fill: #48443D;
  stroke: none;
  //fill-opacity: .6;
  //stroke:$wes-gray;
  //stroke-width: 1px;
}

.summaryBaseline {
  stroke: $wes-violet;
  stroke-dasharray: 10, 5;
}

.isoOptions {
  color: $wes-violet;
  opacity: .8;
}

.strandIndicator {
  //color:$wes-red;
  fill: $wes-violet;
  opacity: .8;
  line {
    stroke: $wes-violet;
    opacity: .8;
  }
  .strandIndicatorBg {
    fill: $wes-violet;
    fill-opacity: .1;
  }

}

.viewLabelBg {
  fill: $wes-gray;
  opacity: .5;
}

.viewLabelText {
  fill: $wes-violet;
  font-size: 14px;
}

// ===> here for html <===
#visReads {
  //  max-height:300px;
  //  overflow-y: auto;
  //  overflow-x: visible;
  //  overflow-x: hidden;
}
