
/**
 * Created by Hendrik Strobelt 10/10/14
 */

// Wes Anderson Color Palette from http://wesandersonpalettes.tumblr.com/ - Fantastic Mr. Fox
$wes-gray: #B9B09F;
$wes-yellow: #E8C95D;
$wes-green: #A9D8C8;
$wes-violet: #433447;
$wes-red: #D16B54;
$wes-blue: #0093dd;

//by convention create a namespace for your own plugin
.gv {
  //  textarea{
  //    /*width: 600px;*/
  //    /*min-width:200px;*/
  //    /*max-width:200px;*/
  //
  //    height:200px;
  //    min-height:200px;
  //    max-height:200px;
  //  }
  .axis text, .axisLabel {
    font: 10px sans-serif;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .seqText{
    font: 10px sans-serif;
  }
  .seqBox{
    opacity: .5;
  }

  .boxplot, .subboxplot{
    stroke-width: 1px;
    stroke:$wes-violet;

    .wticks{
      stroke-dasharray: 3, 3;
    }

  }


  .crosshairValue, .crosshairGroupValue {
    fill: $wes-violet;
    pointer-events: none;
  }
  .crosshairValue.bg, .crosshairGroupValue.bg {
    fill: white;
    stroke: white;
    stroke-width: 5px;
  }
}

.isoform {
  .exon{
    fill-opacity: .8;
    pointer-events: none;
    fill:$wes-violet;
  }
  .background{

    fill:white;
    fill-opacity:.001;

  }




  .selected{
    stroke:$wes-yellow;
  }
  .fixed{
    fill:$wes-yellow;
    fill-opacity:.5;
  }

  .sampleDot
  {
    fill:$wes-gray;
    fill-opacity: .5;
  }
  .sampleDot.highlighted{
    fill:$wes-red;
    fill-opacity: 1;
  }
  .sampleDot.selected{
    fill-opacity: 1;
    stroke:none;
  }

  .highlightBG{
    pointer-events: none;
  }

.showGroups{
  font-size:12pt;
}
  .showGroups.selected{
    background-color: #000066;
  }


}
.groupSplitView{
  .background{
    fill: none;
    stroke:$wes-gray;
  }
  .tickleftCircle{
    fill:$wes-gray;
    opacity: .3;
    pointer-events: none;
  }
  .sampleDot.highlighted{
    fill:$wes-red;
    fill-opacity: 1;
  }
  .sampleDot.selected{
    fill-opacity: 1;
    stroke:2;
  }
}


path.selectionParco{
  fill:none;
  stroke:$wes-red;
  stroke-width: 2px;
  stroke-opacity: .5;
}

.buttonSelected{
  background-color: $wes-green !important;
}

.abundances{

  .abundanceGraph{
    fill-opacity: .8;
    pointer-events: none;
    stroke:$wes-gray;
    stroke-width: 1px;
    fill:$wes-gray;
  }
  .abundanceGraph.highlighted{
    //fill-opacity: .8;
    //pointer-events: none;
    stroke:$wes-red;
    fill:$wes-red;
  }

  .background{

    fill:white;

  }
  .selected{
    stroke:$wes-yellow;
  }
  .fixed{
    fill:$wes-yellow;
    fill-opacity: .5;
  }


}


.rangeRect{
  fill:$wes-gray;
  fill-opacity: .3;
}

.isoMenu{
  fill:$wes-gray;
  fill-opacity: .3;
  stroke: $wes-gray;
  //stroke-width: 1;

}
.isoMenu.selected{
  fill:$wes-gray;
  fill-opacity: 1;
  stroke: $wes-violet;
  stroke-width: 1;

}

.menuDivideLine{
  stroke:$wes-gray;
  stroke-width: 1px;
}

//.dotMenu{
//  .dotmenuRect{
//    fill: $wes
//  }
//}




.strandIndicator {
  .genomeAxisTicks {
    stroke: black;
    stroke-width: 2px
  }
}

.axis.genomeAxis {
  path {
    stroke: none
  }
  .tick text {
      font-size: 14px
  }
}

.directionToggle {
  fill: none;
  pointer-events: visible;
  stroke: $wes-gray


}
.directionToggle.selected{
  fill: $wes-green
}

// UI fixes:

select.btn-mini {
  height: auto;
  line-height: 25px;
}
input.btn-mini {
  height: auto;
  width:auto;
  //line-height: 6px;
}

// ---- JUNCTION VIEW ----

.jxn_heat_group{
  .exon{
    fill:$wes-violet;
    fill-opacity:.1;
  }

  .background{
    fill:white;
    //    fill-opacity: .3;
  }

}

.jxn_con_upper_group{
  .areaCon{
    fill: $wes-gray;
    fill-opacity: .5;
    stroke: none;
  }
}

.jxn_con_lower.con{
  stroke: $wes-violet;
  fill: none
}

.jxn_con_triangle.donor{
  fill: $wes-gray;
  fill-opacity: 1;
  stroke: $wes-violet;
}

.jxn_con_triangle.receptor{
  fill: white;
  fill-opacity: 1;
  stroke: $wes-violet;
}

.jxn_weight_group{
    .panelBG{
      fill: $wes-gray;
      fill-opacity: .5;
      stroke: none;
    }
}



.edgeAnchor {
  fill: $wes-violet;
  fill-opacity: 1;
  stroke: none}

.edgeConnector[type=donor] {
  stroke: $wes-violet
}

.edgeConnector[type=receptor] {
  stroke: $wes-violet
}

path.stdDev{
  fill: #48443D;
  stroke:none;
  //fill-opacity: .6;
  //stroke:$wes-gray;
  //stroke-width: 1px;
}

.summaryBaseline {
  stroke: $wes-violet;
  stroke-dasharray: 10, 5;
}

.isoOptions{
  color:$wes-violet;
  opacity: .8;
}



.strandIndicator{
  //color:$wes-red;
  fill:$wes-violet;
  opacity: .8;
  line{
    stroke:$wes-violet;
    opacity: .8;
  }
  .strandIndicatorBg {
    fill:$wes-violet;
    fill-opacity:.1;
  }

}

.viewLabelBg{
  fill:$wes-gray;
  opacity: .5;
}
.viewLabelText{
  fill:$wes-violet;
  font-size: 18px;
}

// ===> here for html <===
#visReads{
//  max-height:300px;
//  overflow-y: auto;
//  overflow-x: visible;
//  overflow-x: hidden;
}
