
.selectivity-input, .selectivity-dropdown {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-weight: lighter;*/
  font-size: 9pt;
  margin-top: 12px;
}

.selectivity-single-select {
  min-height: 10px;
}

.selectivity-single-select-input {
  border-width: 0;
  font-size: 7px;
}

.selectivity-single-result-container, .selectivity-caret {
  top: 5px;
}
